.LoginPageOuterContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(./images/citylogin.jpg);
  background-size: cover;
}

.LoginPageForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}

/* REGISTER */

.errorMessageRegister {
  color: red;
  position: relative;
  font-size: 0.90em;
}

/* NOTISTACK */

.notistackButton {
  background:none;
  border: none;
  font-weight: 100;
  color: black;
  padding: 10px 25px 10px 25px;
  border-radius: 5px;
  outline: none;
}

.notistackButton:hover {
  background:  rgb(107, 107, 107, 0.2);
}


/* HOME */

.ProductCards {
  display: flex;
  justify-content: space-around;
}

.ActivaLogo {
  max-width: 15%;
  height: auto;
}

/*    //////////////////////////    */
/*           MEDIA QUERIES          */
/*    //////////////////////////    */

 /* // Small devices (landscape phones, 576px and up) */
 @media (max-width: 576px) {
  .LoginPageForm {
    width: 90%;
  }
  .ActivaLogo {
    max-width: 35%;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .LoginPageForm {
    width: 50%;
  }
}

/* // Large devices (desktops, 992px and up)
@media (min-width: 992px) {

} */

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .LoginPageForm {
    width: 30%;
  }
}

/* SCROLL BAR */

 p:not(:last-child) {
  margin-bottom: 1rem;
}

/* Tamaño del scroll */
::-webkit-scrollbar {
  width: 8px;
}

 /* Estilos barra (thumb) de scroll */
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}

::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

 /* Estilos track de scroll */
::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
}

::-webkit-scrollbar-track:hover, 
::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}

/* INPUTS TYPE=NUMBER */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Article form */

.containerArticleForm {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#contentForm {
  width: 60%;
  margin-right: 15px;
}

#contentImage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contentImage img {
  width: 100%;
  max-width: 400px;
  height: auto;
}

@media (max-width: 1024px) {
  .containerArticleForm {
    flex-direction: column;
  }
  #contentForm {
    width: 100%;
  }
}

/* Category Form */

.containerCategoryForm {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}