a {
  text-decoration: none;
  color: #12127A;
}

.LoginPageOuterContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(./images/citylogin.jpg);
  background-size: cover;
}

.LoginPageForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}

 /* // Small devices (landscape phones, 576px and up) */
@media (min-width: 280px) {
  .LoginPageForm {
    width: 90%;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .LoginPageForm {
    width: 50%;
  }
}

/* // Large devices (desktops, 992px and up)
@media (min-width: 992px) {

} */

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .LoginPageForm {
    width: 30%;
  }
}

/* REGISTER */

.errorMessageRegister {
  color: red;
  position: relative;
  font-size: 0.90em;
}

/* NOTISTACK */

.notistackButton {
  background:none;
  border: none;
  font-weight: 100;
  color: black;
  padding: 10px 25px 10px 25px;
  border-radius: 5px;
  outline: none;
}

.notistackButton:hover {
  background:  rgb(107, 107, 107, 0.2);
}
