.LoginPageOuterContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(./images/citylogin.jpg);
  background-size: cover;
}

.LoginPageForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}

 /* // Small devices (landscape phones, 576px and up) */
@media (min-width: 280px) {
  .LoginPageForm {
    width: 90%;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .LoginPageForm {
    width: 50%;
  }
}

/* // Large devices (desktops, 992px and up)
@media (min-width: 992px) {

} */

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .LoginPageForm {
    width: 30%;
  }
}
